<%= form_with(model: @regular_product, local: true) do |form| %>
    <% if @regular_product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
  
        <ul>
          <% product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :登録個数 %><br />
      <%= form.number_field :regular_quantity, autofocus: true, autocomplete: "regular_quantity", min: 1 %>
    </div>
  
    
    <br>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  