<H2>アカウント情報</H2>


<p>企業名: <%= @user.name %></p>
<p>メールアドレス: <%= @user.email %></p>
<p>登録配送先: <%= @user.company_address %></p><br>



<%=link_to("edit") do %>
    <button>編集</button>
  <%end%>

<%= button_to '退会', registration_path(current_user), data: { confirm: ('本当によろしいですか？') }, method: :delete %>
