===============================<br>
<p>このメールは送信専用です。</p>
<p>お問い合わせは直接店舗運営窓口までお問い合わせください。</p>
===============================<br>
  <%= @order.user.name  %>様<br>



  <p>平素よりお世話になっております。</p>
  <p>先日は当店をご利用いただき誠にありがとうございました。</p>

  <p>ご注文いただいておりました商品のご用意が出来ましたので発送手続きを行いました。</p>
  
  <p>[注文情報]</p>
  発注日:<%= @order.created_at.strftime("%Y年%-m月%-d日") %><br>
  時間:<%= @order.created_at.strftime("%-H時%-M分") %><br>
  配送宛名:<%= @order.name %><br>
  配送先:<%= @order.address %><br>
  支払総額:<%= @order.total_price.to_s(:delimited) %>円<br>




  <p>今後とも よろしくお願いいたします。</p>