<p>商品名でも商品説明でもキーワード一つで好きに検索できます！</p>
<%= search_form_for @q, url:orders_url do |f| %>
  <%= f.label :name, "キーワード" %>
  <%= f.search_field :name_or_description_cont %><br>

  <%= f.label :price %>
  <%= f.number_field :price_gteq %>以上〜
  <%= f.number_field :price_lt %>未満<br>

  <%#= f.label :stock %>
  <%#= f.radio_button :stock, value: 1, checked: true %>
  <%#= f.label :stock, "全商品" %>
  <%#= f.radio_button :stock, value: 2 %>
  <%#= f.label :stock, "在庫ありのみ" %>
 



  <%= f.submit "検索" %>
<% end %><br>