<H1>発注履歴</H1>
<p>発注ミス等がございましたら、すでに受注店舗様側にて配送が始まっている可能性がありますので直接受注店舗様にご連絡ください。受注店舗様にて発注取り消しが可能です。</p>
<div class="row">
<div class="col-12 d-flex justify-content-center">

<table>
  <thead>
    <tr>
    <th>発注日</th>
    <th>時間</th>
    <th>ステータス</th>
    <th>配送先</th>
    <th>合計金額</th>
    <th>発注詳細</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
      <td><%= order.created_at.strftime("%Y年%-m月%-d日") %></td>
      <td><%= order.created_at.strftime("%-H時%-M分") %></td>
      <td><%= order.status %></td>
      <td><%= order.address %></td>

      <td><%= order.total_price.to_s(:delimited) %>円</td>

        <td><%= link_to '発注詳細', order %></td>
  

      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>