<div class="container-fluid text-center">
  <h1>発注TOP（というか購買画面）</h1>
  <div class="row ">
   <% @products.each do |product| %>
     <div class="col-md-3">
     <div class="card">
     <div class="card-body text-center">
       <tr>
       
       <td><%= link_to "詳細", product_path(product) %></td><br>
       <td><%= product.name %></td><br>
       <td><%= product.description %></td><br>
       <td><%= product.price.to_s(:delimited) %></td>円<br>
       

       <tr>
       </div>
     </div>
     </div>
   <% end %>



</div>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
</div>
<%= render partial: "carts/cart" %>


