<H3> NOKIA NET SHOP </H3>
<p>商品名でも商品説明でもキーワード一つで好きに検索できます！</p>
<%= search_form_for @q, url:orders_url do |f| %>
  <%= f.label :name, "キーワード" %>
  <%= f.search_field :name_or_description_cont %><br>

  <%= f.label :price %>
  <%= f.number_field :price_gteq %>以上〜
  <%= f.number_field :price_lt %>未満<br>

  <%= f.submit "検索" %>
<% end %>
  
  <div class="row ">
   <% @products.each do |product| %>
     <div class="col-md-3">
     <div class="card">
     <div class="card-body text-center">
       <tr>
       <td>
       <% if product.image.blank? %>
       <%= image_tag 'noimage.png', :size => '120x120' %>
       <% else %>
       <%= image_tag product.image.url, :size => '120x120' %>
       <% end %>
     
       </td><br>
       
       <td><%= link_to "詳細", product_path(product) %></td><br>
       <td><%= product.name %></td><br>
       <td><%= product&.description&.truncate(15) %></td><br>
       <td><%= product.price.to_s(:delimited) %></td>円(税込)<br>
       <td>残り<%= product.stock %></td>個<br>
       <% if product.stock > 0 %>
       <%= button_to '商品をかごに追加', add_item_path(product_id: product, quantity: 1), class: 'fbtn' %>
       <% else %>
       <%= button_to '在庫なし', add_item_path(product_id: product, quantity: 1), class: 'fbtn', disabled: true %>
       <% end %>

		</td>
       <tr>
       </div>
     </div>
     </div>
   <% end %>


   
<br>
</div>
</div>

<%= render partial: "carts/cart" %>


