<h1>配送先確認</h1>



<!-- @order でラジオボタンを使って情報を送ります -->
<%= form_with model: @order, url: check_orders_path, local: true do |f| %>
<!-- customer テーブルに登録されている住所の場合です -->
  <%= f.radio_button :address_number, 1, checked: true %> <!-- address_number と定義して1～3の番号を check に送ります -->
  <%= f.label :address_number_1, "登録住所" %><%= current_user.company_address %><br>



  <!-- 新しい住所を追加する場合です -->
  <%= f.radio_button :address_number, 3 %>
  <%= f.label :address_number_3, "登録住所以外のお届け先" %>
  <%= f.label :name, "宛先" %>
  <%= f.text_field :name %>
  <%= f.label :address, "住所" %>
  <%= f.text_field :address %>
  
<!-- 選んでもらったデータを送ります -->
<br>
  <%= f.submit "確認画面へ進む" %>
<% end %>
<%= link_to '戻る', my_cart_path %>

