<div class="card">
<div class="card-body text-center">

<li class="list-none">
<% if cart_item.product.image.blank? %>
       <%= image_tag 'noimage.png', :size => '120x120' %>
       <% else %>
       <%= image_tag cart_item.product.image.url, :size => '120x120' %>
       <% end %>
    <%= cart_item.product.name %>
    <%= cart_item.product.price&.to_s(:delimited) %>円
    残り<%= cart_item.product.stock&.to_s(:delimited) %>個
    <%= form_with(url: update_item_url, method: :post, local: true) do |f| %>
    <%= f.hidden_field :product_id, value: cart_item.product.id %>
    <%= f.number_field :quantity ,value: cart_item.quantity, min: 1 %>
    <%= f.submit "更新", class: "" %>
    <% end %>
    <%= button_to "削除", delete_item_path(product_id: cart_item.product.id), method: :delete,
                                       data: { confirm: "カートから商品を削除しますか？" } %>
</li>
</div>
</div>
