<h2>カート内アイテム</h2>
<%= render partial: "carts/cart_item", collection: @cart_items, as: "cart_item"%>
<h2><%= "合計：#{@total&.to_s(:delimited)}円" %></h2>

<% if @total == 0 %>
<%= link_to '商品を選んでください', orders_path %>
<% else %>
<%= button_to '購入に進む', new_order_path, method: :get %>
<% end %>
<br>
<%= button_to '"いつものあれ"をカートに入れる。', recall_regular_path, class: 'fbtn' %>
<p>現在登録されている"いつものあれ"リスト一覧</p>
<% @regulars.each do |regular| %>
    <tr>
    <td>・<%= regular.product.name %></td>
    <td><%= regular.regular_quantity %>個</td>
    </tr><br>
    <% end %>

