
<h1>商品管理</h1>

<%= link_to '一つずつ商品を登録する', new_product_path %>
<%= form_tag import_products_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "CSVで商品を一括登録する" %>
<% end %>
<div class="row">
<div class="col-12 d-flex justify-content-center">

<table>
  <thead>
    <tr>
    <th>商品名</th>
    <th>価格</th>
    <th>在庫数</th>
    <th>商品説明</th>
    <th>出品状況</th>
    <th>詳細</th>
    <th>編集</th>
    <th>削除</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
      <td><%= product.name.truncate(20)  %></td>
      <td><%= product.price.to_s(:delimited) %></td>
      <td><%= product.stock.to_s(:delimited) %>個</td>
      <td><%= product&.description&.truncate(40) %></td>
      <td><%= product.status %></td>
        <td><%= link_to '詳細', product %></td>
        <td><%= link_to '編集', edit_product_path(product) %></td>
        <td><%= link_to '削除', product, method: :delete, data: { confirm: '出品を取りやめるだけなら編集⇒取り下げからも対応可能となっております。それでも商品を削除いたしますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
</div>

