<p>商品画像: </p>
<% if @product.image.blank? %>
       <%= image_tag 'noimage.png', :size => '150x150' %>
       <% else %>
       <%= image_tag @product.image.url, :size => '150x150' %>
       <% end %>
<H5>名前: <%= @product.name %></H5>
<H5>金額: <%= @product.price.to_s(:delimited) %>円</H5>
<H5>商品説明: <%= @product.description %></H5>
<H5>在庫: 残り<%= @product.stock %>個</H5>



<%= link_to "トップページ", root_path %>

<% if @regular.exists?(user_id: current_user.id, product_id: @product.id) %>

              <%= button_to "商品を'いつもの'リストから削除", delete_regular_path(product_id: @product.id), class: 'fbtn' %>
               
               
              <% else %>
 <%= form_with url: add_regular_path do |form| %>
                <%= form.hidden_field :product_id, value: @product.id %>
                <%= form.number_field :regular_quantity, autofocus: true, autocomplete: "regular_quantity", value: 1, min: 1 %>
                <%= form.submit("商品を'いつもの'リストに追加") %>
              <% end %>
               
              <% end %>


<br>
