
<p>名前: <%= @product.name %></p>
<p>金額: <%= @product.price %></p>
<p>商品説明: <%= @product.description %></p>
<p>在庫: <%= @product.stock %></p>

<%= link_to "トップページ", root_path %>
<br>
<% if current_user.admin? %>
隠し機能的なやつ。
<% end %>